html{
    position: relative;
    min-height: 100%;
}

header{
    background-color: #3b4764;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

body{
    background-color: #000000; 
    margin-top: 50px;
}

.error_msg{
    color: #d1d1d1;
}

.tweet_content{
    color: #d1d1d1;
    border: solid;
    border-width: thin;
    border-color:rgb(138, 138, 138);
    border-collapse: collapse;
    background-color: rgb(29, 35, 39);
    width: 650px;
    
}

.tweet_content_label{
    vertical-align: top;
}

.main_return_link{
    color: #d1d1d1;
}

footer{
    background-color: #3b4764;
    height: 50px;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
}
    
footer .footer-word p{
    margin: 0 auto;
    margin-top: 10px;
}
    
footer p{
    color: rgb(179, 179, 179);
    font-size: 0.5rem;
}

.clearfix:after{
    content: "";
    display: block;
    clear: both;
}